<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="Theme Version" content="3.8.1" />
    <meta name="Child Theme" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>
        Creown Technologies
    </title>
    <link rel="alternate" type="application/rss+xml" title="Creown Technologies RSS Feed" href="http://www.creowntech.com/feed/">
    <link rel="alternate" type="application/atom+xml" title="Creown Technologies Atom Feed" href="http://www.creowntech.com/feed/atom/">
    <link rel="pingback" href="http://www.creowntech.com/xmlrpc.php">

    <!--[if lt IE 9]>
    <script src="http://www.creowntech.com/wp-content/themes/jupiter/js/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if IE 7 ]>
          <link href="http://www.creowntech.com/wp-content/themes/jupiter/stylesheet/css/ie7.css" media="screen" rel="stylesheet" type="text/css" />
          <![endif]-->
    <!--[if IE 8 ]>
          <link href="http://www.creowntech.com/wp-content/themes/jupiter/stylesheet/css/ie8.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->


    <script type="text/javascript">
        var mk_header_parallax, mk_responsive_nav_width, mk_header_sticky, mk_header_parallax, mk_banner_parallax, mk_page_parallax, mk_footer_parallax, mk_body_parallax;
        var mk_images_dir = "http://www.creowntech.com/wp-content/themes/jupiter/images",
        mk_theme_js_path = "http://www.creowntech.com/wp-content/themes/jupiter/js",
        mk_responsive_nav_width = 1140,
        mk_grid_width = 1140,
        mk_smooth_scroll = true,
        mk_header_sticky = true;
        var mk_header_parallax = false,
mk_banner_parallax = false,
mk_page_parallax = false,
mk_footer_parallax = false,
mk_body_parallax = false,
mk_no_more_posts = "No More Posts";
        function is_touch_device() {
            return ('ontouchstart' in document.documentElement);
        }

    </script>



    <link rel="alternate" type="application/rss+xml" title="Creown Technologies &raquo; Feed" href="http://www.creowntech.com/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Creown Technologies &raquo; Comments Feed" href="http://www.creowntech.com/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.creowntech.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.5" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; return g && g.fillText ? (g.textBaseline = "top", g.font = "600 32px Arial", "flag" === a ? (g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3) : "diversity" === a ? (g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e) : ("simple" === a ? g.fillText(h(55357, 56835), 0, 0) : g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0])) : !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g; c.supports = { simple: d("simple"), flag: d("flag"), unicode8: d("unicode8"), diversity: d("diversity") }, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.simple && c.supports.flag && c.supports.unicode8 && c.supports.diversity || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='mk-style-css' href='http://www.creowntech.com/wp-content/themes/jupiter-child/style.css?ver=4.4.5' type='text/css' media='all' />
    <link rel='stylesheet' id='google-font-api-special-1-css' href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C600%2C700%2C800&#038;ver=4.4.5' type='text/css' media='all' />
    <link rel='stylesheet' id='google-font-api-special-2-css' href='//fonts.googleapis.com/css?family=PT+Sans%3A400%2C700&#038;ver=4.4.5' type='text/css' media='all' />
    <link rel='stylesheet' id='css-iLightbox-css' href='http://www.creowntech.com/wp-content/themes/jupiter/stylesheet/i-lightbox/ilightbox-style.css?ver=4.4.5' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='http://www.creowntech.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.4.1' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='http://www.creowntech.com/wp-content/plugins/revslider/rs-plugin/css/settings.css?ver=4.6.93' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
        }

            .tp-caption a:hover {
                color: #ffa902;
            }
    </style>
    <link rel='stylesheet' id='parent-style-css' href='http://www.creowntech.com/wp-content/themes/jupiter/style.css?ver=4.4.5' type='text/css' media='all' />
    <link rel='stylesheet' id='child-style-css' href='http://www.creowntech.com/wp-content/themes/jupiter-child/style.css?ver=4.4.5' type='text/css' media='all' />
    <script type='text/javascript' src='http://www.creowntech.com/wp-includes/js/jquery/jquery.js?ver=1.11.3'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-content/plugins/lettering/js/jquery.lettering.js?ver=0.7.0'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.tools.min.js?ver=4.6.93'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?ver=4.6.93'></script>
    <link rel='https://api.w.org/' href='http://www.creowntech.com/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.creowntech.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.creowntech.com/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.4.5" />
    <link rel="canonical" href="http://www.creowntech.com/" />
    <link rel='shortlink' href='http://www.creowntech.com/' />
    <script type='text/javascript' data-cfasync='false'>var _mmunch = { 'front': false, 'page': false, 'post': false, 'category': false, 'author': false, 'search': false, 'attachment': false, 'tag': false }; _mmunch['front'] = true; _mmunch['page'] = true; _mmunch['pageData'] = { "ID": 6943, "post_name": "home", "post_title": "Home", "post_type": "page", "post_author": "1", "post_status": "publish" };</script>
    <script data-cfasync="false" src="//s3.amazonaws.com/mailmunch/static/site.js" id="mailmunch-script" data-mailmunch-site-id="164801" async></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            // CUSTOM AJAX CONTENT LOADING FUNCTION
            var ajaxRevslider = function (obj) {

                // obj.type : Post Type
                // obj.id : ID of Content to Load
                // obj.aspectratio : The Aspect Ratio of the Container / Media
                // obj.selector : The Container Selector where the Content of Ajax will be injected. It is done via the Essential Grid on Return of Content

                var content = "";

                data = {};

                data.action = 'revslider_ajax_call_front';
                data.client_action = 'get_slider_html';
                data.token = '0741f15123';
                data.type = obj.type;
                data.id = obj.id;
                data.aspectratio = obj.aspectratio;

                // SYNC AJAX REQUEST
                jQuery.ajax({
                    type: "post",
                    url: "http://www.creowntech.com/wp-admin/admin-ajax.php",
                    dataType: 'json',
                    data: data,
                    async: false,
                    success: function (ret, textStatus, XMLHttpRequest) {
                        if (ret.success == true)
                            content = ret.data;
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });

                // FIRST RETURN THE CONTENT WHEN IT IS LOADED !!
                return content;
            };

            // CUSTOM AJAX FUNCTION TO REMOVE THE SLIDER
            var ajaxRemoveRevslider = function (obj) {
                return jQuery(obj.selector + " .rev_slider").revkill();
            };

            // EXTEND THE AJAX CONTENT LOADING TYPES WITH TYPE AND FUNCTION
            var extendessential = setInterval(function () {
                if (jQuery.fn.tpessential != undefined) {
                    clearInterval(extendessential);
                    if (typeof (jQuery.fn.tpessential.defaults) !== 'undefined') {
                        jQuery.fn.tpessential.defaults.ajaxTypes.push({ type: "revslider", func: ajaxRevslider, killfunc: ajaxRemoveRevslider, openAnimationSpeed: 0.3 });
                        // type:  Name of the Post to load via Ajax into the Essential Grid Ajax Container
                        // func: the Function Name which is Called once the Item with the Post Type has been clicked
                        // killfunc: function to kill in case the Ajax Window going to be removed (before Remove function !
                        // openAnimationSpeed: how quick the Ajax Content window should be animated (default is 0.3)
                    }
                }
            }, 30);
        });
    </script>
    <script type="text/javascript">var ajaxurl = "http://www.creowntech.com/wp-admin/admin-ajax.php"</script>
    <link href="/Assets/Css/common.css" rel="stylesheet" />
</head>
<body class="home page page-id-6943 page-template-default  main-nav-align-right jupiter-child">
    <div id="mk-boxed-layout">
        <header id="mk-header" data-height="60" data-sticky-height="60" class="modern-style-nav mk-background-stretch mk-video-holder">
            @Html.Sitecore().Placeholder("header-top")

            @Html.Sitecore().Placeholder("navbar")
        </header>
        <div id="theme-page">
            @Html.Sitecore().Placeholder("body")
        </div>
        <section id="mk-footer" class=""></section>
    </div>
    <a href="#" class="mk-go-top"><i class="mk-icon-chevron-up"></i></a>
    <!--Embed from Zopim Live Chat Wordpress Plugin v1.4.2-->
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute('charset', 'utf-8');
            $.src = '//v2.zopim.com/?3hTerpc57V3TPNWrJayZJF5Ntcvxe2R5'; z.t = +new Date; $.
            type = 'text/javascript'; e.parentNode.insertBefore($, e)
        })(document, 'script');
    </script>
    <script>
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
            $.src = "//v2.zopim.com/?3hTl5tuVGMxUfm88smC8mImrS03vCGli"; z.t = +new Date; $.
            type = "text/javascript"; e.parentNode.insertBefore($, e)
        })(document, "script");
    </script><!--End of Zopim Live Chat Script-->
    <link rel='stylesheet' id='Nunito-css' href='//fonts.googleapis.com/css?family=Nunito&#038;ver=4.4.5' type='text/css' media='all' />
    <link rel='stylesheet' id='Viga-css' href='//fonts.googleapis.com/css?family=Viga&#038;ver=4.4.5' type='text/css' media='all' />
    <script type='text/javascript' src='http://www.creowntech.com/wp-content/themes/jupiter/js/ilightbox.packed.js?ver=4.4.5'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-content/themes/jupiter/js/nicescroll.js?ver=4.4.5'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-content/themes/jupiter/js/plugins.js?ver=4.4.5'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-content/themes/jupiter/js/theme-scripts.js?ver=4.4.5'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-includes/js/comment-reply.min.js?ver=4.4.5'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var _wpcf7 = { "loaderUrl": "http:\/\/www.creowntech.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif", "recaptchaEmpty": "Please verify that you are not a robot.", "sending": "Sending ..." };
        /* ]]> */
    </script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.4.1'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-includes/js/wp-embed.min.js?ver=4.4.5'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-includes/js/jquery/ui/menu.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-includes/js/jquery/ui/autocomplete.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='http://www.creowntech.com/wp-content/themes/jupiter/js/jquerytransit.js?ver=0.9.9'></script>

    <!-- Google Analytics Code Start -->
    <script>

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {

                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),

            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)

        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-74360470-1', 'auto');

        ga('send', 'pageview');

    </script>
    <!--Embed from Zopim Live Chat Wordpress Plugin v1.4.2-->
    <!--Start of Zopim Live Chat Script-->
</body>
</html>
