<div class="mk-header-inner custom-header">
    <div class="mk-header-bg  mk-background-stretch"></div>
    <div class="mk-toolbar-resposnive-icon"><i class="mk-icon-chevron-down"></i></div>
    <div class="mk-header-nav-container modern-style">
        @Html.Sitecore().Placeholder("navigation")
    </div>
    <div class="mk-nav-responsive-link"><i class="mk-moon-menu-3"></i></div>

    <div class="header-logo logo-is-responsive left-logo">
        @Html.Sitecore().Placeholder("logo")
    </div>
    <div class="clearboth"></div>
    <div class="mk-header-right">
    </div>
</div>
<div class="clearboth"></div>

    <div class="mk-header-padding-wrapper"></div>

    <div class="clearboth"></div>

    <div class="mk-zindex-fix">

       @Html.Sitecore().Placeholder("top-carousel")
    </div>

    <div class="clearboth"></div>

    <form class="responsive-searchform" method="get" style="display:none;" action="http://www.creowntech.com">
        <input type="text" class="text-input" value="" name="s" id="s" placeholder="Search.." />
        <i class="mk-icon-search"><input value="" type="submit" /></i>
    </form>
