<div class="mk-header-inner custom-header">
    <div class="mk-header-bg  mk-background-stretch"></div>
    <div class="mk-toolbar-resposnive-icon"><i class="mk-icon-chevron-down"></i></div>
    <div class="mk-header-nav-container modern-style">
        @Html.Sitecore().Placeholder("navigation")
    </div>
    <div class="mk-nav-responsive-link"><i class="mk-moon-menu-3"></i></div>

    <div class="header-logo logo-is-responsive left-logo">
        @Html.Sitecore().Placeholder("logo")
    </div>
    <div class="clearboth"></div>
    <div class="mk-header-right">
    </div>
</div>
@*<div class="clearboth"></div>

    <div class="mk-header-padding-wrapper"></div>

    <div class="clearboth"></div>

    <div class="mk-zindex-fix">

        <div class="mk-edge-slider swiper-container" data-height="700" data-fullHeight="true" data-pause="15000" data-speed="600">
            <div style="height:700px" class="edge-slider-holder swiper-wrapper">
            <div class="swiper-slide mk-video-holder left_center" style="background-image:url(http://www.creowntech.com/wp-content/uploads/2016/01/Sitecore-Slider-Banner.jpg); background-color:"><div class="mk-grid"><div class="edge-slide-content caption-light" style="width:60%"><h3>Sitecore Development </h3><p>Sitecore Development Service is the preferred enterprise level content management solution. It provides reliable customer experience management software to enterprise level corporate marketing departments.</p><div class="mk-edge-custom-content"><div class='mailmunch-forms-before-post' style='display: none !important;'></div><div class='mailmunch-forms-in-post-middle' style='display: none !important;'></div><div class='mailmunch-forms-after-post' style='display: none !important;'></div></div></div><!--/edge-slide-content--></div><!--/mk-grid--></div><!--/edge-slide--><div class="swiper-slide mk-video-holder left_center" style="background-image:url(http://www.creowntech.com/wp-content/uploads/2016/02/Slider-Banner-001.jpg); background-color:"><div class="mk-grid"><div class="edge-slide-content caption-light" style="width:60%"><h3>Microsoft Technologies</h3><p>Microsoft .NET Framework is used for building, organization and operation of Web applications and Web Services and windows application using an endless number of different programming languages. Microsoft .NET is built on top of the operating system.</p><div class="mk-edge-custom-content"><div class='mailmunch-forms-before-post' style='display: none !important;'></div><div class='mailmunch-forms-in-post-middle' style='display: none !important;'></div><div class='mailmunch-forms-after-post' style='display: none !important;'></div></div></div><!--/edge-slide-content--></div><!--/mk-grid--></div><!--/edge-slide--><div class="swiper-slide mk-video-holder left_center" style="background-image:url(http://www.creowntech.com/wp-content/uploads/2016/01/open-source.jpg); background-color:"><div class="mk-grid"><div class="edge-slide-content caption-light" style="width:60%"><h3>Open Source Technologies</h3><p>CreOwn Technologies has very good experience in open source software development. We have successfully developed some of the most reliable, secure, high performance and dynamic web applications using various open source platforms.</p><div class="mk-edge-custom-content"><div class='mailmunch-forms-before-post' style='display: none !important;'></div><div class='mailmunch-forms-in-post-middle' style='display: none !important;'></div><div class='mailmunch-forms-after-post' style='display: none !important;'></div></div></div><!--/edge-slide-content--></div><!--/mk-grid--></div><!--/edge-slide--><div class="swiper-slide mk-video-holder left_center" style="background-image:url(http://www.creowntech.com/wp-content/uploads/2016/01/slider.jpg); background-color:"><div class="mk-grid"><div class="edge-slide-content caption-light" style="width:60%"><h3>Mobile Application Development</h3><p>A mobile technology has changed the manner of conducting business in just a decade. Mobile phones, PDAs, and smart-phones today present a horde of opportunities for developers and mobility services providers deliver a range of solutions that more than meet customer demands.</p><div class="mk-edge-custom-content"><div class='mailmunch-forms-before-post' style='display: none !important;'></div><div class='mailmunch-forms-in-post-middle' style='display: none !important;'></div><div class='mailmunch-forms-after-post' style='display: none !important;'></div></div></div><!--/edge-slide-content--></div><!--/mk-grid--></div><!--/edge-slide--><div class="swiper-slide mk-video-holder left_center" style="background-image:url(http://www.creowntech.com/wp-content/uploads/2016/02/technology_and_companies_1.jpg); background-color:"><div class="mk-grid"><div class="edge-slide-content caption-light" style="width:60%"><h3>QA and Testing</h3><p>We offers a solution that will help you through complex tasks necessary for the completion of software and application testing. QA is an umbrella term we use to refer to the process involved in ensuring quality in software deliverables.</p><div class="mk-edge-custom-content"><div class='mailmunch-forms-before-post' style='display: none !important;'></div><div class='mailmunch-forms-in-post-middle' style='display: none !important;'></div><div class='mailmunch-forms-after-post' style='display: none !important;'></div></div></div><!--/edge-slide-content--></div><!--/mk-grid--></div><!--/edge-slide--></div><div class="edge-skip-slider"><i class="mk-jupiter-icon-arrow-down"></i></div><a class="mk-edge-prev"><i class="mk-moon-arrow-left"></i></a><a class="mk-edge-next"><i class="mk-moon-arrow-right-2"></i></a><div class="edge-slider-loading"></div>
        </div>
    </div>

    <div class="clearboth"></div>

    <form class="responsive-searchform" method="get" style="display:none;" action="http://www.creowntech.com">
        <input type="text" class="text-input" value="" name="s" id="s" placeholder="Search.." />
        <i class="mk-icon-search"><input value="" type="submit" /></i>
    </form>*@
